.nav-structure {
    z-index: 10;
}

.box {
    position: fixed;
    width: 1920px;
    height: 60px;
    background-color: rgb(8, 13, 37);
    z-index: 9;
}

.nav-wrapper {
    display: flex;
    width: 100%;
}

.navbar {
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgb(18, 22, 36);
    color: #fff;
    transition: all 0.3s;
}

.navbar li {
    list-style-type: none;
    padding: 5px;
}

.navbar a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 20px;
}

.search-bar {
    width: 30%;
    position: relative;
    display: flex;
}

.search-text {
    width: 100%;
    border: 3px solid #00A0EC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-text:focus {
    color: #00A0EC;
}

.search-button {
    width: 40px;
    height: 36px;
    border: 1px solid #00A0EC;
    background: #00A0EC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.search-wrapper {
    width: 50%;
    position: absolute;
    top: 3%;
    left: 35%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 10;
}

.header {
    position: fixed;
    margin-top: 13px;
    color: rgb(255, 255, 255);
    display: flex;
    left: 50%;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;
}